@property --animated-height {
    syntax: '<length>';
    initial-value: 150px;
    inherits: false;
}

.animated-height {
    height: var(--animated-height);
    transition: --animated-height 0.5s ease;

    max-height: max-content;
    overflow: hidden;
}

.animated-height.closed {
    --animated-height: 0px;
}
